body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffc0cb; /* light pink background color */
  }
  
  h1 {
    color: #333;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 0;
    width: 120px; /* Set a fixed width for the buttons */
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  
  .button:hover {
    background-color: #d63b20;
  }
  
  #wishText {
    font-weight: bold;
    color: #ff6347;
    margin-top: 20px;
    font-size: 1.2em;
  }
  